/* Code reuse: image center align
	Ref: https://www.w3schools.com/howto/howto_css_image_center.asp
*/
.Menu-logo {  
	height: 40px;
	display: block;
	margin-left: 10px;
	margin-right: auto;  
	opacity: 100;
}