/* web-fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Code reuse
	Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
*/
body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/background-shutterstock_183698861-31e823f9d5d9.jpg") no-repeat center center fixed;
    background-size: cover;	
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	padding-top: 80px;
	color: #000000;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x: hidden;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	
}
/* Code reuse:
	Ref: https://www.w3schools.com/cssref/css3_pr_text-shadow.asp
*/
h1 {
	padding-top: 10px;
	text-transform: uppercase;
	color: #ccc;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;	
}
h2 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ccc;
	text-shadow: 2px 2px 4px #000000;	
}
h3, h4 {
	padding-top: 10px;
	color: #ccc;
	text-shadow: 2px 2px 4px #000000;
}
p, li.list {
	color: #ccc;
	text-shadow: 2px 2px 4px #000000;	
}	
li.nav-item {
	text-shadow: 2px 2px 4px #ccc;	
}
h3, h4, h5 {
	text-align: center;
}
.navbar {
	padding: 10px;
}
/* Code reuse: placeholder centered text
	Ref: https://stackoverflow.com/questions/7381446/center-html-input-text-field-placeholder
*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
/* Code reuse: Form align
	Ref: https://www.sitepoint.com/community/t/how-to-center-a-div-in-bootstrap-4/267449

*/	
form {
	text-align: center;
}
input {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

