/* Code reuse: Style results from API
  Ref: https://www.kirupa.com/react/simple_todo_app_react.htm
*/
.ResultListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: auto;
}
.ResultListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.ResultListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.ResultListMain .theList {
  list-style: none;
  padding-left: 0;
  width: auto;
} 
.ResultListMain .theList div.resTable {
  color: #333;
  background-color: rgba(255,255,255,0.9);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
} 
.ResultListMain .theList div.resTable:hover {
  text-shadow: 2px 2px 4px #ccc;  
  background-color: pink;
  cursor: pointer;
}
